{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "exclude": [],
                    "useBuiltIns": "usage",
                    "corejs": "3.37.1",
                    "include": ["transform-async-to-generator"],
                    "debug": true
                }]
            ],
        },
        "production": {
            "presets": [
                ["@babel/preset-env", {
                    "exclude": [],
                    "useBuiltIns": "usage",
                    "corejs": "3.37.1",
                    "include": ["transform-async-to-generator"]
                }]
            ],
        }
    }
}
